# Dependencies
/vendor/
/node_modules/

# Logs
/logs/*.log

# Cache and temporary files
/tmp/
/var/cache/
/var/log/

# Configuration files with sensitive data
/config/repositories.yml
/config/secrets.yml

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.backup

# claude / codex
.claude
.codex
CLAUDE.md

## FILE MACOS ##
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

###> config for this project ###
/bin/local/
/src/Command/Test
/public/data/
repositories.json
/repositories/*
!/repositories/.gitkeep
###< config for this project ###
